llama-index
llama-index-llms-gemini
llama-index-vector-stores-qdrant
llama-index-embeddings-google-genai
qdrant-client
configparser
flask
flask-cors
gunicorn
gevent
unstructured
lxml
fastembed

# 聊天服務相關套件
langchain-openai
langchain-google-genai
langchain-ollama
openai
ollama

# 嵌入服務相關套件
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-qdrant

# 額外工具套件
ipython
sentence-transformers